@font-face {
  font-family: 'Now';
  font-style: normal;
  font-display: swap;
  src:
    local('Now'),
    url(./fonts/subset-Now-Thin.woff2) format('woff2'),
    url(./fonts/subset-Now-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(./fonts/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(./fonts/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(./fonts/Pretendard-Medium.subset.woff2) format('woff2'),
    url(./fonts/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(./fonts/Pretendard-Regular.subset.woff2) format('woff2'),
    url(./fonts/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(./fonts/Pretendard-Light.subset.woff2) format('woff2'),
    url(./fonts/Pretendard-Light.subset.woff) format('woff');
}
