@font-face {
  font-family: 'Now';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    local('Now'),
    url(src/fonts/subset-Now-Thin.woff2) format('woff2'),
    url(src/fonts/subset-Now-Thin.woff) format('woff');
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local('SCoreDream'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('SCoreDream'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('SCoreDream'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('SCoreDream'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('SCoreDream'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
}
