@import url(./font.css);

:root {
  --active: #15470d;
  --active-difference: #e7a9bb;
  --white: #eeeae4;
  --gray: #a9a9a9;
  --black: #222;
  --black-difference: #ddd;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--active));
  border-radius: 10px;
  border: 2px solid var(--white);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--active) 70%);
}

@media only screen and (min-width: 0\0) {
  /* IE 9, IE 10, IE 11 */
  :root,
  html {
    font-size: 10px;
  }
}
@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE 10, IE 11 */
  :root,
  html {
    font-size: 10px;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'SCoreDream', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

p {
  margin: 0;
  line-height: 1.5;
  word-break: keep-all;
}

button {
  border: none;
  padding: 0;
}

em {
  font-style: normal;
}
