@import url(./font.css);

:root {
  --active: #185644;
  --background: #eeeae4;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'SCoreDream', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}
